body {	
}
ul li {
}

/*******************
*			 *
* animal-specific IDs    *
*			 *
*******************/

#mouse{
}
#canary{
}
#penguin{
}
#salmon{
}
#cat{
}
#goldfish{
}
#dog{
}
#sheep{
}
#parakeet{
}
#tuna{
}


/***********************
*			        *
* kingdom-specific classes   *
*			        *
***********************/

.bird{
}
.fish{
}
.mammal{

}
