body {
	background-color:#00AEEF;
	font-family: 'Open Sans', light;
	margin: 0;
	width:100%;
}
button {
	border-radius: 10px;
	margin: 5px;
	padding: 5px;
}
h1 {
	font-family: 'Rock Salt', cursive;
	font-size: 2.75em;
	position: absolute;
	left: 200px;
	top: 0.3em;
}
h2 {
	font-family:  'Rock Salt', cursive;
	font-size: 1.5em;
	margin: 0;
}
article ul li {
	text-decoration: none;
	list-style-type: none;
}
img {
	border: 2px dashed #00AEEF;
	margin: 1em;
	padding: 0.5em;
}
header {
	background-color: #77ccee;
	border-bottom: 1px solid #4267B1;
	display: inline-block;
	height: 200px;
	width:100%;
}
header ul {
	font-weight: 700;
}
nav ul li {
	display: inline-block;
	float:right;
	padding: 0 2em;
	text-decoration: none;
}
.centered {
	position:relative;
	margin: 0 auto;
	width: 1024px;
}
.container{
	background-color:#FFF;
	width:100%;
}

.column{
	background-color: #4267B1;
	height: 200px;
	margin-right: 1.5%;
	padding-left: 1.5%
}
.four{
	float:left;
	position:relative;
	width:30%;
}
.gutter{
}
section{
}
.row{
	min-height: 210px;
}
footer{
	background-color: #888;
	bottom: 0;
	color: #FFF;
	margin-top:10px;
	width: 100%;
}