body {
	
}
button {
	
}
h1 {
	
}
h2 {
	font-family:  'Rock Salt', cursive;
	font-size: 1.5em;
	margin: 0;
}
article ul li {
	
}
img {
	
}
header {
	
}
header ul {

}
nav ul li {

}
.centered {

}
.container{
	
}

.column{
	
}
.four{

}
.gutter{
}
section{
}
.row{
}
footer{

}