body{
  background-color: cornsilk;
}

h1{
  color: #555;
}

#map-canvas {
  border-style: outset;
  height: 500px;
  margin: auto;
  padding: 0;
  width: 100%;
}

.container {
  padding-bottom: 2em;
  width:100%;
}
