<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <title>Document</title>

  <link rel="stylesheet" href="styles.css">

  <script src="scripts.js"></script>
</head>
<body>
  <div class="container">
    <div class="jumbotron">
      <h1><%= name %> is awesome!</h1>
      <p>General Assembly rocks!</p>
    </div>

    <ul>
      <% for(var i=0; i<paintings.length; i++) { %>
      <li>
        <p><%= paintings[i].title %> -- by <%= paintings[i].artist %></p>
        <img src="<%= paintings[i].imgUrl %>">
      </li>
      <% } %>  
    </ul>

    <h1>Behold Ganesh!</h1>
    <img src="images/ganesh.jpg">

  </div>
</body>
</html>