  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- bootstrap css -->
    <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="scripts.js"></script>

    <title>Simple Login</title>
  </head>
  <body>
    <div class="container text-center">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <h1>Profile</h1>
          <hr>
          <h2>Welcome!
            <% if (user && user.email) { %>
              You're logged in as <%= user.email %>!</h2>
              <a href="/logout" class="btn btn-default">Log Out</a>
            <% } else { %>
              You're not logged in. </h2>
              <a href="/login">Log in</a>
            <% } %>
          
        </div>
      </div>
    </div>
  </body>
  </html>