body {
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
  background-color: skyblue; /* Sanity Check! */
}

h1 {
  margin-top: 100px;
  text-align: center;
}

img, form {
	display: inline-table;
	text-align: center;
	margin: 2em;
}
